# BQL Examples

In [1]:
# Imports
from polars_bloomberg import BQuery

In [2]:
# Basic example with signle data point
with BQuery() as bq:
    df_lst = bq.bql("get(px_last) for(['IBM US Equity', 'OMX Index'])")
df_lst[0]

shape: (2, 4)
┌───────────────┬──────────┬────────────┬──────────┐
│ ID            ┆ px_last  ┆ DATE       ┆ CURRENCY │
│ ---           ┆ ---      ┆ ---        ┆ ---      │
│ str           ┆ f64      ┆ date       ┆ str      │
╞═══════════════╪══════════╪════════════╪══════════╡
│ IBM US Equity ┆ 229.33   ┆ 2024-12-17 ┆ USD      │
│ OMX Index     ┆ 2544.604 ┆ 2024-12-17 ┆ SEK      │
└───────────────┴──────────┴────────────┴──────────┘

In [3]:
# Average PE ratio per sector
query = """
let(#avg_pe=avg(group(pe_ratio(), gics_sector_name()));)
get(#avg_pe)
for(members('SPX Index'))
"""
with BQuery() as bq:
    df_lst = bq.bql(query)
df_lst[0].head()

shape: (5, 7)
┌───────────────┬───────────┬───────────────┬────────────┬───────────────┬──────────┬──────────────┐
│ ID            ┆ #avg_pe   ┆ REVISION_DATE ┆ AS_OF_DATE ┆ PERIOD_END_DA ┆ ORIG_IDS ┆ GICS_SECTOR_ │
│ ---           ┆ ---       ┆ ---           ┆ ---        ┆ TE            ┆ ---      ┆ NAME()       │
│ str           ┆ f64       ┆ date          ┆ date       ┆ ---           ┆ str      ┆ ---          │
│               ┆           ┆               ┆            ┆ date          ┆          ┆ str          │
╞═══════════════╪═══════════╪═══════════════╪════════════╪═══════════════╪══════════╪══════════════╡
│ Communication ┆ 26.324383 ┆ 2024-11-14    ┆ 2024-12-17 ┆ 2024-09-30    ┆ null     ┆ Communicatio │
│ Services      ┆           ┆               ┆            ┆               ┆          ┆ n Services   │
│ Consumer      ┆ 26.605797 ┆ 2024-12-11    ┆ 2024-12-17 ┆ 2024-11-23    ┆ null     ┆ Consumer Dis │
│ Discretionary ┆           ┆               ┆            ┆               ┆          ┆ cretionary   │
│ Consumer      ┆ 19.362589 ┆ 2024-12-13    ┆ 2024-12-17 ┆ 2024-11-24    ┆ null     ┆ Consumer     │
│ Staples       ┆           ┆               ┆            ┆               ┆          ┆ Staples      │
│ Energy        ┆ 18.155505 ┆ 2024-11-12    ┆ 2024-12-17 ┆ 2024-09-30    ┆ null     ┆ Energy       │
│ Financials    ┆ 37.120773 ┆ 2024-11-26    ┆ 2024-12-17 ┆ 2024-09-30    ┆ null     ┆ Financials   │
└───────────────┴───────────┴───────────────┴────────────┴───────────────┴──────────┴──────────────┘

In [4]:
# Duration and ZSpread for search results
query = """
let(#dur=duration(duration_type=MODIFIED);
    #zsprd=spread(spread_type=Z);)
get(name(), #dur, #zsprd)
for(filter(screenresults(type=SRCH, screen_name='@COCO'),
           ticker in ['SEB', 'SHBASS']))
"""

with BQuery() as bq:
    df_lst = bq.bql(query)
df_lst.combine()

shape: (6, 5)
┌───────────────┬─────────────────┬──────────┬────────────┬────────────┐
│ ID            ┆ name()          ┆ #dur     ┆ DATE       ┆ #zsprd     │
│ ---           ┆ ---             ┆ ---      ┆ ---        ┆ ---        │
│ str           ┆ str             ┆ f64      ┆ date       ┆ f64        │
╞═══════════════╪═════════════════╪══════════╪════════════╪════════════╡
│ BW924993 Corp ┆ SEB 6 ⅞ PERP    ┆ 2.224876 ┆ 2024-12-17 ┆ 219.962108 │
│ YU819930 Corp ┆ SEB 6 ¾ PERP    ┆ 5.366166 ┆ 2024-12-17 ┆ 309.154337 │
│ ZO703315 Corp ┆ SHBASS 4 ⅜ PERP ┆ 1.950612 ┆ 2024-12-17 ┆ 214.664365 │
│ ZO703956 Corp ┆ SHBASS 4 ¾ PERP ┆ 4.939148 ┆ 2024-12-17 ┆ 256.163102 │
│ ZQ349286 Corp ┆ SEB 5 ⅛ PERP    ┆ 0.389946 ┆ 2024-12-17 ┆ 200.569138 │
│ YV402592 Corp ┆ SEB Float PERP  ┆ 0.206908 ┆ 2024-12-17 ┆ 235.23     │
└───────────────┴─────────────────┴──────────┴────────────┴────────────┘

In [8]:
# Average OAS spread for Nvidia bonds per maturity bucket
query = """
let(
    #bins = bins(maturity_years,
                 [3,9,18,30],
                 ['(1) 0-3','(2) 3-9','(3) 9-18','(4) 18-30','(5) 30+']);
    #average_spread = avg(group(spread(st=oas),#bins));
)
get(#average_spread)
for(filter(bonds('NVDA US Equity', issuedby = 'ENTITY'),
           maturity_years != NA))
"""

with BQuery() as bq:
    df_lst = bq.bql(query)
df_lst[0]

shape: (5, 5)
┌───────────┬─────────────────┬────────────┬───────────────┬───────────┐
│ ID        ┆ #average_spread ┆ DATE       ┆ ORIG_IDS      ┆ #BINS     │
│ ---       ┆ ---             ┆ ---        ┆ ---           ┆ ---       │
│ str       ┆ f64             ┆ date       ┆ str           ┆ str       │
╞═══════════╪═════════════════╪════════════╪═══════════════╪═══════════╡
│ (1) 0-3   ┆ 29.476654       ┆ 2024-12-17 ┆ QZ552396 Corp ┆ (1) 0-3   │
│ (2) 3-9   ┆ 58.500884       ┆ 2024-12-17 ┆ null          ┆ (2) 3-9   │
│ (3) 9-18  ┆ 107.83985       ┆ 2024-12-17 ┆ BH393780 Corp ┆ (3) 9-18  │
│ (4) 18-30 ┆ 133.525275      ┆ 2024-12-17 ┆ BH393781 Corp ┆ (4) 18-30 │
│ (5) 30+   ┆ 149.245693      ┆ 2024-12-17 ┆ BH393782 Corp ┆ (5) 30+   │
└───────────┴─────────────────┴────────────┴───────────────┴───────────┘

In [9]:
# stocks with 20d EMA above 200d EMA and RSI > 53
with BQuery() as bq:
    df_lst = bq.bql(
        """
        let(#ema20=emavg(period=20);
            #ema200=emavg(period=200);
            #rsi=rsi(close=px_last());)
        get(name(), #ema20, #ema200, #rsi)
        for(filter(members('OMX Index'),
                    and(#ema20 > #ema200, #rsi > 53)))
        with(fill=PREV)
        """
    )
df_lst.combine()

shape: (4, 7)
┌─────────────────┬──────────────────┬────────────┬────────────┬──────────┬────────────┬───────────┐
│ ID              ┆ name()           ┆ #ema20     ┆ DATE       ┆ CURRENCY ┆ #ema200    ┆ #rsi      │
│ ---             ┆ ---              ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---       │
│ str             ┆ str              ┆ f64        ┆ date       ┆ str      ┆ f64        ┆ f64       │
╞═════════════════╪══════════════════╪════════════╪════════════╪══════════╪════════════╪═══════════╡
│ ERICB SS Equity ┆ Telefonaktiebola ┆ 90.152605  ┆ 2024-12-17 ┆ SEK      ┆ 75.073609  ┆ 56.010064 │
│                 ┆ get LM Ericsso   ┆            ┆            ┆          ┆            ┆           │
│ ABB SS Equity   ┆ ABB Ltd          ┆ 630.622467 ┆ 2024-12-17 ┆ SEK      ┆ 566.585769 ┆ 53.763079 │
│ SEBA SS Equity  ┆ Skandinaviska    ┆ 153.80595  ┆ 2024-12-17 ┆ SEK      ┆ 150.750809 ┆ 56.460733 │
│                 ┆ Enskilda Banken  ┆            ┆            ┆          ┆            ┆           │
│ ASSAB SS Equity ┆ Assa Abloy AB    ┆ 339.017593 ┆ 2024-12-17 ┆ SEK      ┆ 317.074403 ┆ 53.351646 │
└─────────────────┴──────────────────┴────────────┴────────────┴──────────┴────────────┴───────────┘

In [13]:
# Axes for Swedish AT1 bonds with bids
query = """
let(#ax=axes();)
get(name, #ax)
for(filter(bondsuniv(ACTIVE),
    crncy()=='USD' and
    basel_iii_designation() == 'Additional Tier 1' and
    country_iso() == 'SE' and
    is_axed('Bid') == True))
with(aggregateby=SECURITY)
"""

with BQuery() as bq:
    df_lst = bq.bql(query)
df_lst.combine()

shape: (5, 7)
┌───────────────┬─────────────────┬─────┬───────────┬───────────┬────────────────┬────────────────┐
│ ID            ┆ name            ┆ #ax ┆ ASK_DEPTH ┆ BID_DEPTH ┆ ASK_TOTAL_SIZE ┆ BID_TOTAL_SIZE │
│ ---           ┆ ---             ┆ --- ┆ ---       ┆ ---       ┆ ---            ┆ ---            │
│ str           ┆ str             ┆ str ┆ i64       ┆ i64       ┆ f64            ┆ f64            │
╞═══════════════╪═════════════════╪═════╪═══════════╪═══════════╪════════════════╪════════════════╡
│ ZO703315 Corp ┆ SHBASS 4 ⅜ PERP ┆ Y   ┆ null      ┆ 1         ┆ null           ┆ 5e6            │
│ ZL122341 Corp ┆ SWEDA 7 ⅝ PERP  ┆ Y   ┆ null      ┆ 1         ┆ null           ┆ 1.4e6          │
│ ZQ349286 Corp ┆ SEB 5 ⅛ PERP    ┆ Y   ┆ 1         ┆ 3         ┆ 5e6            ┆ 2.02e7         │
│ ZO703956 Corp ┆ SHBASS 4 ¾ PERP ┆ Y   ┆ 2         ┆ 2         ┆ 3.2e6          ┆ 6e6            │
│ BW924993 Corp ┆ SEB 6 ⅞ PERP    ┆ Y   ┆ 1         ┆ 1         ┆ 5e6            ┆ 5e6            │
└───────────────┴─────────────────┴─────┴───────────┴───────────┴────────────────┴────────────────┘

In [ ]:
# Get Bond Universe from Equity Ticker
query = """
let(#rank=normalized_payment_rank();
    #oas=spread(st=oas);
    #nxt_call=nxt_call_dt();
    )
get(name(), #rank, #nxt_call, #oas)
for(filter(bonds('GTN US Equity'), series() == '144A'))
"""

with BQuery() as bq:
    df_lst = bq.bql(query)
df_lst.combine()

shape: (5, 6)
┌───────────────┬───────────────────┬──────────────────┬────────────┬────────────┬────────────┐
│ ID            ┆ name()            ┆ #rank            ┆ #nxt_call  ┆ #oas       ┆ DATE       │
│ ---           ┆ ---               ┆ ---              ┆ ---        ┆ ---        ┆ ---        │
│ str           ┆ str               ┆ str              ┆ date       ┆ f64        ┆ date       │
╞═══════════════╪═══════════════════╪══════════════════╪════════════╪════════════╪════════════╡
│ YX231113 Corp ┆ GTN 10 ½ 07/15/29 ┆ 1st Lien Secured ┆ 2026-07-15 ┆ 598.66491  ┆ 2024-12-17 │
│ BS116983 Corp ┆ GTN 5 ⅜ 11/15/31  ┆ Sr Unsecured     ┆ 2026-11-15 ┆ 1193.17529 ┆ 2024-12-17 │
│ AV438089 Corp ┆ GTN 7 05/15/27    ┆ Sr Unsecured     ┆ 2024-12-24 ┆ 400.340456 ┆ 2024-12-17 │
│ ZO860846 Corp ┆ GTN 4 ¾ 10/15/30  ┆ Sr Unsecured     ┆ 2025-10-15 ┆ 1249.34346 ┆ 2024-12-17 │
│ LW375188 Corp ┆ GTN 5 ⅞ 07/15/26  ┆ Sr Unsecured     ┆ 2025-01-13 ┆ 173.761744 ┆ 2024-12-17 │
└───────────────┴───────────────────┴──────────────────┴────────────┴────────────┴────────────┘

In [16]:
# Total Return of GTN Bonds
query = """
let(#rng = range(-3M, 0D);
    #rets = return_series(calc_interval=#rng,per=W);
    )
get(#rets)
for(filter(bonds('GTN US Equity'), series() == '144A'))
"""

with BQuery() as bq:
    df_lst = bq.bql(query)
df = df_lst[0].pivot(on="ID", index="DATE", values="#rets")
df.tail()

shape: (5, 6)
┌────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
│ DATE       ┆ YX231113 Corp ┆ BS116983 Corp ┆ AV438089 Corp ┆ ZO860846 Corp ┆ LW375188 Corp │
│ ---        ┆ ---           ┆ ---           ┆ ---           ┆ ---           ┆ ---           │
│ date       ┆ f64           ┆ f64           ┆ f64           ┆ f64           ┆ f64           │
╞════════════╪═══════════════╪═══════════════╪═══════════════╪═══════════════╪═══════════════╡
│ 2024-11-19 ┆ 0.004504      ┆ -0.002104     ┆ 0.004853      ┆ 0.000759      ┆ -0.001737     │
│ 2024-11-26 ┆ 0.005028      ┆ 0.047219      ┆ 0.021587      ┆ 0.037382      ┆ -0.000997     │
│ 2024-12-03 ┆ 0.000326      ┆ 0.019322      ┆ -0.001086     ┆ 0.013854      ┆ 0.001294      │
│ 2024-12-10 ┆ 0.000299      ┆ -0.029059     ┆ -0.00054      ┆ -0.024435     ┆ 0.001059      │
│ 2024-12-17 ┆ 0.002799      ┆ -0.019907     ┆ -0.001082     ┆ -0.018603     ┆ 0.001641      │
└────────────┴───────────────┴───────────────┴───────────────┴───────────────┴───────────────┘

In [17]:
# Revenue per segment
query = """
    let(#segment=segment_name();
        #revenue=sales_Rev_turn(fpt=q, fpr=range(2023Q3, 2024Q3));
        )
    get(#segment, #revenue)
    for(segments('GTN US Equity',type=reported,hierarchy=PRODUCT, level=1))
"""
with BQuery() as bq:
    df_lst = bq.bql(query)
df_lst.combine().pivot(on="#segment", index="PERIOD_END_DATE", values="#revenue")

shape: (5, 5)
┌─────────────────┬──────────────┬──────────────────────┬────────┬────────────┐
│ PERIOD_END_DATE ┆ Broadcasting ┆ Production Companies ┆ Other  ┆ Adjustment │
│ ---             ┆ ---          ┆ ---                  ┆ ---    ┆ ---        │
│ date            ┆ f64          ┆ f64                  ┆ f64    ┆ f64        │
╞═════════════════╪══════════════╪══════════════════════╪════════╪════════════╡
│ 2023-09-30      ┆ 7.83e8       ┆ 2e7                  ┆ 1.6e7  ┆ null       │
│ 2023-12-31      ┆ 8.13e8       ┆ 3.2e7                ┆ 1.9e7  ┆ null       │
│ 2024-03-31      ┆ 7.8e8        ┆ 2.4e7                ┆ 1.9e7  ┆ null       │
│ 2024-06-30      ┆ 8.08e8       ┆ 1.8e7                ┆ 0.0    ┆ null       │
│ 2024-09-30      ┆ 9.24e8       ┆ 2.6e7                ┆ 1.7e7  ┆ null       │
└─────────────────┴──────────────┴──────────────────────┴────────┴────────────┘